*{box-sizing: border-box;}
html, body {height: auto;}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}
h1 {
	color: #fff;
	font: 400 60px/1.416 'Libre Baskerville', serif;
}
h2 {
	color: #313131;
	font: 700 50px/1 'Libre Baskerville', serif;
	line-height: 1;
	margin: 0;
}
h3 {
  color: #313131;
  font: 500 20px/1 'Poppins', serif;
  margin: 0;
}
p {
	color: #616161;
	font: 400 15px/1.8 'Poppins', sans-serif;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	display: inline-block;
	text-decoration: none;
}

.flex-container {
  background: #fafafa;
  border: 1px solid #595959;
  display: flex;
  height: 250px;
  margin: 50px auto;
  max-width: 1000px;
  padding: 5px;
}
.flex-item {
  background-color: #ccc;
  min-height: 80px;
  margin: 0 0 5px;
  min-width: 200px;
}
.flex-container.cont1 {
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}
.flex-container.cont1 .flex-item {
  flex: 1 1 0;
}