*{box-sizing: border-box;}
html, body {
	height: auto;
    overflow-x: hidden;
	width: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}
h1 {
	color: #fff;
	font: 400 60px/1.416 'Libre Baskerville', serif;
}
h2 {
	color: #313131;
	font: 700 50px/1 'Libre Baskerville', serif;
	line-height: 1;
	margin: 0;
}
h3 {
  color: #313131;
  font: 500 20px/1 'Poppins', serif;
  margin: 0;
}
p {
	color: #616161;
	font: 400 15px/1.8 'Poppins', sans-serif;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	display: inline-block;
	text-decoration: none;
}

.content-wrapper {
	max-width: 1140px;
	margin: auto;
}
.left {float: left;}
.right {float: right;}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.dark-background {
	background: #3f4049;
}
.grey-background {
	background: #f7f7f7;
}

.button {
	border: 2px solid transparent;
	border-radius: 25px;
	font-size: 16px;
	font-weight:600;
	/*line-height: 50px;*/
    line-height: 1;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 180px;
	color: #fff;
}
.button:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.button.red {background-color: #fc5f45;}
.button.green {background-color: #38c695;}
.button.blue {background-color: #b27cf5;}
.button.red:hover,
.button.green:hover,
.button.blue:hover {
	background-color: transparent;
}
.button.red:hover {
	border-color: #fc5f45;
	color: #fc5f45;	
}

.button.green:hover {
	border-color: #38c695;
	color: #38c695;
}
.button.blue:hover {
	border-color: #b27cf5;
	color: #b27cf5;
}


.button.red.inverse,
.button.green.inverse,
.button.blue.inverse {
    background-color: transparent;
}
.button.red.inverse {
    border-color: #fc5f45;
    color: #fc5f45;
}
.button.green.inverse {
    border-color: #38c695;
    color: #38c695;
}
.button.blue.inverse {
    border-color: #b27cf5;
    color: #b27cf5;
}

.button.red.inverse:hover {
    background-color: #fc5f45;
    color: #ffffff;
}
.button.green.inverse:hover {
    background-color: #38c695;
    color: #ffffff;
}

.button.blue.inverse:hover {
    background-color: #b27cf5;
    color: #ffffff;
}


.head-menu ul {font-size: 0;}
.head-menu li {
	display: inline-block;
	margin-right: 20px;
}
.head-menu li:last-child {margin-right: 0;}

.head-menu a {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
}
header {
	padding: 24px 0;
}


.welcome-block {
	padding: 160px 0;
	text-align: center;
}
.welcome-block .button {
	margin-top: 40px;
}

.welcome-block h1 {
	margin: 0 auto;
	max-width: 830px;
}
.features-set {
	font-size: 0;
	margin-top: 80px;
}

.features-set li {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding-top: 75px;
	position: relative;
	text-transform: uppercase;
	width: 33.33333%;
}
.features-set li:nth-child(1) {color: #38c695;}
.features-set li:nth-child(2) {color: #b27cf5;}
.features-set li:nth-child(3) {color: #feb960;}

.features-set .icon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	height: 40px;
	width: 40px;
}

.icon.dollar {background: url(../img/ico-dollar.png) no-repeat;}
.icon.clock {background: url(../img/ico-clock.png) no-repeat;}
.icon.check {background: url(../img/ico-check.png) no-repeat;}



.about-block {padding: 150px 0;}
.about-block .content-wrapper {
	position: relative;
}

.about-article {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	background: #fff;
	padding: 90px 80px 70px;
	width: 650px;
}

.about-article:before {
	content:"01";
	color: rgba(224,224,224,0.3);
	line-height: 1;
	font-size: 273px;
	font-weight: 800;
	position: absolute;
	left: -5px;
	top: -12px;
}
.about-article:after {
	content: '';
	background: url(../img/lines.jpg) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
}
.about-article .inner-wrapper {position: relative;}
.about-article h2 {
	margin-bottom: 40px;
}
.about-article p {
	margin-bottom: 30px;
}



.numbered-block {
  position: relative;
  padding: 140px 0 150px;
}
.numbered-block:before {
  content: attr(data-title);
  color: rgba(224,224,224,0.3);
	line-height: 1;
	font-size: 273px;
	font-weight: 800;
	position: absolute;
	left: 50%;
	top: -10px;
  transform: translateX(-50%);
}
/*.focus-block:before {
  content: '02';
  color: rgba(224,224,224,0.3);
	line-height: 1;
	font-size: 273px;
	font-weight: 800;
	position: absolute;
	left: 50%;
	top: -10px;
  transform: translateX(-50%);
}*/
.numbered-block .content-wrapper {
  position: relative;
}

.title-block {
  margin-bottom: 75px;
}
.title-block h2,
.title-block p {
  text-align: center;
}
.title-block h2 {margin-bottom: 25px;}


.focus-list {
	font-size: 0;
  margin: 0 -15px;
	text-align: center;
}
.focus-list li {
	background-color: #fff;
  border-bottom: 2px solid transparent;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	display: inline-block;
  margin: 0 15px 15px;
  min-width: 262px;
	position: relative;
  vertical-align: top;
  text-align: center;
  width: calc(25% - 30px);
}

.focus-list li:nth-child(1) {border-color: #fc5f45;}
.focus-list li:nth-child(2) {border-color: #38c695;}
.focus-list li:nth-child(3) {border-color: #b27cf5;}
.focus-list li:nth-child(4) {border-color: #feb960;}


.focus-article {padding: 65px 35px;}
.focus-article .article-title {
  padding-top: 70px;
  position: relative;
  margin-bottom: 35px;
}
.focus-article .icon {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: url("../img/icons-sprite.png") no-repeat;
	height: 49px;
	width: 55px;
}
.focus-article .icon.web-des {background-position: 0 0;}
.focus-article .icon.ux-des {background-position: -60px 0;}
.focus-article .icon.photo {background-position: -120px 0;}
.focus-article .icon.app-dev {background-position: -180px 0;}




.player-block {
  padding: 145px 0;
  text-align: center;
}
.player-block h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}
.player-block .btn-holder {
  margin-bottom: 35px;
  text-align: center;
}
.player-block p {
  color: #fff;
}




.floated-list {
  margin: 0 -10px;
}
.floated-list > li {
  float: left;
  padding: 0 10px 20px;
  width: 33.33333%;
}
.floated-list img {
  width: 100%;
}



.contact-list li {
  border-bottom: 2px solid transparent;
  width: 25%;
}
.contact-list .card-holder {
  border-bottom: 2px solid transparent;
}

.contact-list li:nth-child(1) .card-holder {border-color: #fc5f45;}
.contact-list li:nth-child(2) .card-holder {border-color: #38c695;}
.contact-list li:nth-child(3) .card-holder {border-color: #b27cf5;}
.contact-list li:nth-child(4) .card-holder {border-color: #feb960;}



.contact-list img {
  display: block;
  border: 5px solid #fff;
}
.contact-list .contact-info {
  background-color: #fff;
  padding: 16px 2px;
  text-align: center;
}





.features-block {
  background: url(../img/bg-pic.jpg) no-repeat 50%/cover;
  padding: 135px 0 120px;
}
.features-block ul {margin: 0 -15px;}
.features-block li {
  float: left;
  padding: 0 15px;
  text-align: center;
  width: 25%;
}
.features-block h3 {
  background: url(../img/f-icon1.png) no-repeat 50% 0;
  color: #fefefe;
  margin-bottom: 15px;
  padding-top: 75px;
}
.features-block .clients h3 {background-image: url(../img/f-icon2.png);}
.features-block .feedbacks h3 {background-image: url(../img/f-icon3.png);}
.features-block .releases h3 {background-image: url(../img/f-icon4.png);}
/*.features-block .circles {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 4px #000, 0 0 0 8px #fff
}*/

.features-block .circles {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 16px;
}
.features-block .circles:before {
  content: '';
  border-radius: 50%;
  height: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
}
.features-block .projects .circles {border-color: #fc5f45;}
.features-block .projects .circles:before {background-color: #fc5f45;}
.features-block .clients .circles {border-color: #38c695;}
.features-block .clients .circles:before {background-color: #38c695;}
.features-block .feedbacks .circles {border-color: #b27cf5;}
.features-block .feedbacks .circles:before {background-color: #b27cf5;}
.features-block .releases .circles {border-color: #feb960;}
.features-block .releases .circles:before {background-color: #feb960;}

.features-block p {
  color: rgba(254,254,254,0.7);
  margin-bottom: 15px;
}



.article-about {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 70px 100px;
}
.article-about h3 {
  color: #272727;
  margin-bottom: 25px;
}
.article-about .inner-content {
  font-size: 0;
}
.article-about .description-part {
  border-right: 2px solid #efefef;
  display: inline-block;
  max-width: 815px;
  padding-right: 170px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.article-about .soc-part {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}

.article-about .soc-part li {
  color: #616161;
  font: 400 15px/1 'Poppins', serif;
  margin-bottom: 16px;
  position: relative;
  padding-left: 20px;
}
.article-about .soc-part li:last-child {margin: 0;}
.article-about .soc-part .fa {  
  color: inherit;
  font-size: inherit;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.article-about .share-icon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}

.work-steps .row-step {
  position:relative;
}

.row-step img {
  display: block;
  margin: 0 auto;
  width: 556px;
}
.row-step .absolute-block {
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 300px;
  padding: 40px;
  position: absolute;
  top: -50px;
  max-width: 460px;
}
.row-step .absolute-block.absolute-left {left: 0;}
.row-step .absolute-block.absolute-right {right: 0;}

.absolute-block .inner-holder {
  height: 100%;
  padding: 30px 10px 10px 85px;
  position: relative;  
  overflow: hidden;
}
.absolute-block .inner-holder:before {
  content: attr(data-innernumber);
  color: #e0e0e0;
  font: 700 50px/1 'Libre Baskerville', serif;
  position: absolute;
  left: 0;
  top: 0;
}

.absolute-block h3 {
  color: #272727;
  font: 400 25px 'Poppins', serif;
}




.pricing-list > li {
    width: 33.33333%;
}
.pricing-list .card-holder {
    border-top: 2px solid transparent;
}

.pricing-list .card-holder.red {border-color: #fc5f45;}
.pricing-list .card-holder.green {border-color: #38c695;}
.pricing-list .card-holder.blue {border-color: #b27cf5;}



.duble-circle-block {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: #fff;
    margin: 28px 8px 44px;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
}
.duble-circle-block.red {
    background-color: #fc5f45;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #fc5f45;
}
.duble-circle-block.green {
    background-color: #38c695;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #38c695;
}
.duble-circle-block.blue {
    background-color: #b27cf5;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #b27cf5;
}
.duble-circle-block:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.duble-circle-block .price {
    display: inline-block;
    font: 400 25px/1 'Poppins', serif;
    vertical-align: middle;
    width: 100%;
}
.duble-circle-block .price > span {
    display: inherit;
    font-size: 13px;
}

.pricing-list .card-holder {
    background-color: #fff;
    padding: 35px;
    text-align: center;
}
.pricing-sheet {
    margin-bottom: 40px;
}
.pricing-sheet > li {
    color: #616161;
    font: 400 15px/1 'Poppins', serif;
    margin-bottom: 25px;
}
.pricing-sheet strong {
    color: #272727;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    min-width: 20px;
}
.pricing-sheet .fa {
    color: #272727;
    font-size: inherit;
    line-height: 1;
    margin-right: 8px;
}

.blog-wrapper {
	display: flex;
	justify-content: space-between;
}
.blog-wrapper .flex-column {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 48%;
	max-width: 48%;
	overflow: hidden;
	align-items: flex-start;
}
.main-article-column .pic-holder {
	flex: 1 1 440px;
	max-height: 440px;
	display: flex;
	width: 100%;
}
.pic-holder .blog-picture {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
	flex: 1;
	max-width: 100%;
	opacity: .81;
}
.main-article-column .text-holder {}
.small-articles-column {
	justify-content: space-between;
}
.small-articles-column .preview-article {
	border: 1px solid #000;
	flex: 1 1 30%;
	max-height: 30%;
	max-width: 100%;
	
}


@media screen and (max-width:1024px) {
	.contact-list li {
		width: 50%;
	}
}

@media (min-width:780px) and (max-width:1024px) {
	.floated-list {margin: 0;}
}

@media screen and (max-width:780px) {
	.contact-list li {width: 100%;}
}
@media screen and (max-width:1024px) {
	.content-wrapper  {
		overflow: hidden;
	}
	.head-menu ul {
		position: absolute;
		top: -100%;
		left: 0;
		background: #fff;
		padding-top: 100px;
		text-align: center;
		width: 100%;
		height: 100%;
		transition: ease-in-out 0.3s transform;
		z-index: 20;
	}
	.head-menu ul.active {
		transform:translateY(100%);
	}
	.head-menu li {
		display: block;
		margin: 0 0 15px;
		font-size: 18px;
	}
}
